{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% set lastPayment = order.payments.last() %}
    {% if lastPayment != false and lastPayment.details['redirect_wunderbit_url'] is defined %}
        <script src="{{ asset('bundles/wunderbitsyliuswunderbitcommerceplugin/wunderbit_redirect.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="center aligned sixteen wide column">
            <h1 class="ui icon header">
                {% set lastPayment = order.payments.last() %}
                <i class="circular rocket icon"></i>
                <div class="content" id="sylius-thank-you">
                    {{ 'sylius.ui.thank_you'|trans }}
                    <div class="sub header">{{ 'sylius.ui.placed_an_order'|trans }}</div>
                </div>
            </h1>

            {{ sonata_block_render_event('sylius.shop.order.thank_you.after_message', {'order': order}) }}
            {% if lastPayment != false %}
                {%  if lastPayment.method.instructions is not null %}
                    <br>
                    <a href="{{ lastPayment.details['redirect_wunderbit_url'] }}" target="_blank">show invoice</a>
                    <div id="sylius-payment-method-instructions" {% if lastPayment.details['redirect_wunderbit_url'] is defined %} data-url="{{ lastPayment.details['redirect_wunderbit_url'] }}"{% endif %} class="ui segment">
                        {{ lastPayment.method.instructions }}
                    </div>
                {% endif %}
                <div class="ui hidden divider"></div>
                <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" id="sylius-show-order" class="ui large blue button">{{ 'sylius.ui.view_your_order_or_change_payment_method'|trans }}</a>
            {% endif %}

            {% if order.customer.user is null %}
                <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}" class="ui large green button">
                    <i class="signup icon"></i>
                    {{ 'sylius.ui.create_an_account'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}